Build started...
Build succeeded.
The Entity Framework tools version '9.0.8' is older than that of the runtime '9.0.9'. Update the tools for the latest features and bug fixes. See https://aka.ms/AAc1fbw for more information.
CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL,
    CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId")
);

START TRANSACTION;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE TABLE "PhotoSlides" (
        "Id" integer GENERATED BY DEFAULT AS IDENTITY,
        "PhotoPath" character varying(2000) NOT NULL,
        "OriginalFileName" character varying(500) NOT NULL,
        "FileSize" bigint NOT NULL,
        "ContentType" character varying(100) NOT NULL,
        "Left" double precision NOT NULL,
        "Top" double precision NOT NULL,
        "Width" double precision NOT NULL,
        "Height" double precision,
        "CreatedAt" timestamp with time zone NOT NULL,
        "UpdatedAt" timestamp with time zone NOT NULL,
        CONSTRAINT "PK_PhotoSlides" PRIMARY KEY ("Id")
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE TABLE "TextSlides" (
        "Id" integer GENERATED BY DEFAULT AS IDENTITY,
        "Text" character varying(5000) NOT NULL,
        "Size" integer NOT NULL,
        "Font" character varying(100) NOT NULL,
        "IsBold" boolean NOT NULL,
        "IsItalic" boolean NOT NULL,
        "ColorHex" character varying(7) NOT NULL,
        "Left" double precision NOT NULL,
        "Top" double precision NOT NULL,
        "Width" double precision NOT NULL,
        "Height" double precision,
        "Horizontal" integer NOT NULL,
        "Vertical" integer NOT NULL,
        "CreatedAt" timestamp with time zone NOT NULL,
        "UpdatedAt" timestamp with time zone NOT NULL,
        CONSTRAINT "PK_TextSlides" PRIMARY KEY ("Id")
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE TABLE "Users" (
        "Id" integer GENERATED BY DEFAULT AS IDENTITY,
        "FirstName" text NOT NULL,
        "LastName" text NOT NULL,
        "Username" text NOT NULL,
        "PhoneNumber" text,
        "TelegramId" text,
        "PasswordHash" text NOT NULL,
        "Photo" text,
        "Balance" integer NOT NULL,
        "ReferralId" integer,
        "UserRole" integer NOT NULL,
        "IsVerified" boolean NOT NULL,
        "CreatedAt" timestamp with time zone NOT NULL,
        "UpdatedAt" timestamp with time zone NOT NULL,
        CONSTRAINT "PK_Users" PRIMARY KEY ("Id")
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE TABLE "AdminActions" (
        "Id" integer GENERATED BY DEFAULT AS IDENTITY,
        "AdminId" integer NOT NULL,
        "TargetUserId" integer NOT NULL,
        "ActionType" integer NOT NULL,
        "Description" character varying(1000) NOT NULL,
        "PreviousValue" character varying(100),
        "NewValue" character varying(100),
        "Amount" numeric(18,2),
        "Reason" character varying(500),
        "IpAddress" character varying(50),
        "NotificationSent" boolean NOT NULL,
        "CreatedAt" timestamp with time zone NOT NULL,
        "UpdatedAt" timestamp with time zone NOT NULL,
        CONSTRAINT "PK_AdminActions" PRIMARY KEY ("Id"),
        CONSTRAINT "FK_AdminActions_Users_AdminId" FOREIGN KEY ("AdminId") REFERENCES "Users" ("Id") ON DELETE RESTRICT,
        CONSTRAINT "FK_AdminActions_Users_TargetUserId" FOREIGN KEY ("TargetUserId") REFERENCES "Users" ("Id") ON DELETE RESTRICT
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE TABLE "Notifications" (
        "Id" integer GENERATED BY DEFAULT AS IDENTITY,
        "Title" text NOT NULL,
        "Message" text NOT NULL,
        "Type" integer NOT NULL,
        "Status" integer NOT NULL,
        "UserId" integer NOT NULL,
        "ActionUrl" text,
        "IconUrl" text,
        "ReadAt" timestamp with time zone,
        "ExpiresAt" timestamp with time zone,
        "IsGlobal" boolean NOT NULL,
        "Metadata" text,
        "CreatedAt" timestamp with time zone NOT NULL,
        "UpdatedAt" timestamp with time zone NOT NULL,
        CONSTRAINT "PK_Notifications" PRIMARY KEY ("Id"),
        CONSTRAINT "FK_Notifications_Users_UserId" FOREIGN KEY ("UserId") REFERENCES "Users" ("Id") ON DELETE CASCADE
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE TABLE "Payments" (
        "Id" integer GENERATED BY DEFAULT AS IDENTITY,
        "SenderId" integer NOT NULL,
        "RequestedAmount" numeric(18,2) NOT NULL,
        "Photo" character varying(2000) NOT NULL,
        "Description" character varying(500),
        "ApprovedAmount" numeric(18,2),
        "PaymentStatus" integer NOT NULL,
        "RejectReason" character varying(1000),
        "ProcessedByAdminId" integer,
        "ProcessedAt" timestamp with time zone,
        "AdminNotes" character varying(1000),
        "CreatedAt" timestamp with time zone NOT NULL,
        "UpdatedAt" timestamp with time zone NOT NULL,
        CONSTRAINT "PK_Payments" PRIMARY KEY ("Id"),
        CONSTRAINT "FK_Payments_Users_ProcessedByAdminId" FOREIGN KEY ("ProcessedByAdminId") REFERENCES "Users" ("Id") ON DELETE RESTRICT,
        CONSTRAINT "FK_Payments_Users_SenderId" FOREIGN KEY ("SenderId") REFERENCES "Users" ("Id") ON DELETE RESTRICT
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE TABLE "VerificationCodes" (
        "Id" integer GENERATED BY DEFAULT AS IDENTITY,
        "UserId" integer NOT NULL,
        "Code" text NOT NULL,
        "ExpiresAt" timestamp with time zone NOT NULL,
        "IsUsed" boolean NOT NULL,
        "TelegramDeepLink" text,
        "CodeType" integer NOT NULL,
        "CreatedAt" timestamp with time zone NOT NULL,
        "UpdatedAt" timestamp with time zone NOT NULL,
        CONSTRAINT "PK_VerificationCodes" PRIMARY KEY ("Id"),
        CONSTRAINT "FK_VerificationCodes_Users_UserId" FOREIGN KEY ("UserId") REFERENCES "Users" ("Id") ON DELETE CASCADE
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_AdminActions_ActionType" ON "AdminActions" ("ActionType");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_AdminActions_AdminId" ON "AdminActions" ("AdminId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_AdminActions_AdminId_ActionType" ON "AdminActions" ("AdminId", "ActionType");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_AdminActions_CreatedAt" ON "AdminActions" ("CreatedAt");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_AdminActions_TargetUserId" ON "AdminActions" ("TargetUserId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_AdminActions_TargetUserId_ActionType" ON "AdminActions" ("TargetUserId", "ActionType");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_Notifications_UserId_Status" ON "Notifications" ("UserId", "Status");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_Payments_CreatedAt" ON "Payments" ("CreatedAt");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_Payments_PaymentStatus" ON "Payments" ("PaymentStatus");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_Payments_ProcessedByAdminId" ON "Payments" ("ProcessedByAdminId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_Payments_SenderId_PaymentStatus" ON "Payments" ("SenderId", "PaymentStatus");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_PhotoSlides_ContentType" ON "PhotoSlides" ("ContentType");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_PhotoSlides_CreatedAt" ON "PhotoSlides" ("CreatedAt");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_PhotoSlides_FileSize" ON "PhotoSlides" ("FileSize");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_PhotoSlides_Left_Top" ON "PhotoSlides" ("Left", "Top");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_PhotoSlides_OriginalFileName" ON "PhotoSlides" ("OriginalFileName");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_PhotoSlides_PhotoPath" ON "PhotoSlides" ("PhotoPath");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_PhotoSlides_UpdatedAt" ON "PhotoSlides" ("UpdatedAt");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_TextSlides_ColorHex" ON "TextSlides" ("ColorHex");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_TextSlides_CreatedAt" ON "TextSlides" ("CreatedAt");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_TextSlides_Font" ON "TextSlides" ("Font");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_TextSlides_IsBold_IsItalic" ON "TextSlides" ("IsBold", "IsItalic");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_TextSlides_Left_Top" ON "TextSlides" ("Left", "Top");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_TextSlides_Size" ON "TextSlides" ("Size");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_TextSlides_Text_Left_Top" ON "TextSlides" ("Text", "Left", "Top");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_TextSlides_UpdatedAt" ON "TextSlides" ("UpdatedAt");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE UNIQUE INDEX "IX_Users_TelegramId" ON "Users" ("TelegramId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE UNIQUE INDEX "IX_Users_Username" ON "Users" ("Username");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_VerificationCodes_Code" ON "VerificationCodes" ("Code");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    CREATE INDEX "IX_VerificationCodes_UserId_IsUsed" ON "VerificationCodes" ("UserId", "IsUsed");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf') THEN
    INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
    VALUES ('20251004062848_InitialCreateV4_thfdsfegdrgdgrthjgf', '9.0.9');
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    ALTER TABLE "PhotoSlides" ADD "DesignId" integer;
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    CREATE TABLE "Designs" (
        "Id" integer GENERATED BY DEFAULT AS IDENTITY,
        "Title" character varying(200) NOT NULL,
        "CreatedById" integer NOT NULL,
        "CreatedAt" timestamp with time zone NOT NULL,
        "UpdatedAt" timestamp with time zone NOT NULL,
        CONSTRAINT "PK_Designs" PRIMARY KEY ("Id"),
        CONSTRAINT "FK_Designs_Users_CreatedById" FOREIGN KEY ("CreatedById") REFERENCES "Users" ("Id") ON DELETE CASCADE
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    CREATE TABLE "Plans" (
        "Id" integer GENERATED BY DEFAULT AS IDENTITY,
        "TitleId" integer NOT NULL,
        "Plan_1Id" integer NOT NULL,
        "Plan_2Id" integer NOT NULL,
        "Plan_3Id" integer NOT NULL,
        "Plan_4Id" integer,
        "Plan_5Id" integer,
        "CreatedAt" timestamp with time zone NOT NULL,
        "UpdatedAt" timestamp with time zone NOT NULL,
        CONSTRAINT "PK_Plans" PRIMARY KEY ("Id"),
        CONSTRAINT "FK_Plans_TextSlides_Plan_1Id" FOREIGN KEY ("Plan_1Id") REFERENCES "TextSlides" ("Id") ON DELETE CASCADE,
        CONSTRAINT "FK_Plans_TextSlides_Plan_2Id" FOREIGN KEY ("Plan_2Id") REFERENCES "TextSlides" ("Id") ON DELETE CASCADE,
        CONSTRAINT "FK_Plans_TextSlides_Plan_3Id" FOREIGN KEY ("Plan_3Id") REFERENCES "TextSlides" ("Id") ON DELETE CASCADE,
        CONSTRAINT "FK_Plans_TextSlides_Plan_4Id" FOREIGN KEY ("Plan_4Id") REFERENCES "TextSlides" ("Id"),
        CONSTRAINT "FK_Plans_TextSlides_Plan_5Id" FOREIGN KEY ("Plan_5Id") REFERENCES "TextSlides" ("Id"),
        CONSTRAINT "FK_Plans_TextSlides_TitleId" FOREIGN KEY ("TitleId") REFERENCES "TextSlides" ("Id") ON DELETE CASCADE
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    CREATE TABLE "PresentationIsroilovs" (
        "Id" integer GENERATED BY DEFAULT AS IDENTITY,
        "Title" character varying(200) NOT NULL,
        "Author" character varying(100) NOT NULL,
        "PageCount" integer NOT NULL,
        "IsActive" boolean NOT NULL,
        "FilePath" character varying(2000) NOT NULL,
        "DesignId" integer NOT NULL,
        "PlanId" integer NOT NULL,
        "CreatedAt" timestamp with time zone NOT NULL,
        "UpdatedAt" timestamp with time zone NOT NULL,
        CONSTRAINT "PK_PresentationIsroilovs" PRIMARY KEY ("Id"),
        CONSTRAINT "FK_PresentationIsroilovs_Designs_DesignId" FOREIGN KEY ("DesignId") REFERENCES "Designs" ("Id") ON DELETE RESTRICT,
        CONSTRAINT "FK_PresentationIsroilovs_Plans_PlanId" FOREIGN KEY ("PlanId") REFERENCES "Plans" ("Id") ON DELETE RESTRICT
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    CREATE TABLE "PresentationPages" (
        "Id" integer GENERATED BY DEFAULT AS IDENTITY,
        "PhotoId" integer,
        "BackgroundPhotoId" integer,
        "PresentationIsroilovId" integer NOT NULL,
        "CreatedAt" timestamp with time zone NOT NULL,
        "UpdatedAt" timestamp with time zone NOT NULL,
        CONSTRAINT "PK_PresentationPages" PRIMARY KEY ("Id"),
        CONSTRAINT "FK_PresentationPages_PhotoSlides_BackgroundPhotoId" FOREIGN KEY ("BackgroundPhotoId") REFERENCES "PhotoSlides" ("Id") ON DELETE SET NULL,
        CONSTRAINT "FK_PresentationPages_PhotoSlides_PhotoId" FOREIGN KEY ("PhotoId") REFERENCES "PhotoSlides" ("Id") ON DELETE SET NULL,
        CONSTRAINT "FK_PresentationPages_PresentationIsroilovs_PresentationIsroilo~" FOREIGN KEY ("PresentationIsroilovId") REFERENCES "PresentationIsroilovs" ("Id") ON DELETE CASCADE
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    CREATE TABLE "PresentationPosts" (
        "Id" integer GENERATED BY DEFAULT AS IDENTITY,
        "PresentationPageId" integer NOT NULL,
        "TitleId" integer,
        "TextId" integer NOT NULL,
        "CreatedAt" timestamp with time zone NOT NULL,
        "UpdatedAt" timestamp with time zone NOT NULL,
        CONSTRAINT "PK_PresentationPosts" PRIMARY KEY ("Id"),
        CONSTRAINT "FK_PresentationPosts_PresentationPages_PresentationPageId" FOREIGN KEY ("PresentationPageId") REFERENCES "PresentationPages" ("Id") ON DELETE CASCADE,
        CONSTRAINT "FK_PresentationPosts_TextSlides_TextId" FOREIGN KEY ("TextId") REFERENCES "TextSlides" ("Id") ON DELETE RESTRICT,
        CONSTRAINT "FK_PresentationPosts_TextSlides_TitleId" FOREIGN KEY ("TitleId") REFERENCES "TextSlides" ("Id") ON DELETE SET NULL
    );
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    CREATE INDEX "IX_PhotoSlides_DesignId" ON "PhotoSlides" ("DesignId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    CREATE INDEX "IX_Designs_CreatedById" ON "Designs" ("CreatedById");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    CREATE INDEX "IX_Plans_Plan_1Id" ON "Plans" ("Plan_1Id");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    CREATE INDEX "IX_Plans_Plan_2Id" ON "Plans" ("Plan_2Id");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    CREATE INDEX "IX_Plans_Plan_3Id" ON "Plans" ("Plan_3Id");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    CREATE INDEX "IX_Plans_Plan_4Id" ON "Plans" ("Plan_4Id");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    CREATE INDEX "IX_Plans_Plan_5Id" ON "Plans" ("Plan_5Id");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    CREATE INDEX "IX_Plans_TitleId" ON "Plans" ("TitleId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    CREATE INDEX "IX_PresentationIsroilovs_Author" ON "PresentationIsroilovs" ("Author");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    CREATE INDEX "IX_PresentationIsroilovs_CreatedAt" ON "PresentationIsroilovs" ("CreatedAt");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    CREATE INDEX "IX_PresentationIsroilovs_DesignId" ON "PresentationIsroilovs" ("DesignId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    CREATE INDEX "IX_PresentationIsroilovs_IsActive" ON "PresentationIsroilovs" ("IsActive");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    CREATE INDEX "IX_PresentationIsroilovs_PlanId" ON "PresentationIsroilovs" ("PlanId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    CREATE INDEX "IX_PresentationIsroilovs_Title" ON "PresentationIsroilovs" ("Title");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    CREATE INDEX "IX_PresentationPages_BackgroundPhotoId" ON "PresentationPages" ("BackgroundPhotoId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    CREATE INDEX "IX_PresentationPages_CreatedAt" ON "PresentationPages" ("CreatedAt");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    CREATE INDEX "IX_PresentationPages_PhotoId" ON "PresentationPages" ("PhotoId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    CREATE INDEX "IX_PresentationPages_PresentationIsroilovId" ON "PresentationPages" ("PresentationIsroilovId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    CREATE INDEX "IX_PresentationPosts_CreatedAt" ON "PresentationPosts" ("CreatedAt");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    CREATE INDEX "IX_PresentationPosts_PresentationPageId" ON "PresentationPosts" ("PresentationPageId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    CREATE INDEX "IX_PresentationPosts_TextId" ON "PresentationPosts" ("TextId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    CREATE INDEX "IX_PresentationPosts_TitleId" ON "PresentationPosts" ("TitleId");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    ALTER TABLE "PhotoSlides" ADD CONSTRAINT "FK_PhotoSlides_Designs_DesignId" FOREIGN KEY ("DesignId") REFERENCES "Designs" ("Id");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194022_InitialCreate') THEN
    INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
    VALUES ('20251008194022_InitialCreate', '9.0.9');
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194853_AddDesignEntities') THEN
    ALTER TABLE "Designs" DROP CONSTRAINT "FK_Designs_Users_CreatedById";
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194853_AddDesignEntities') THEN
    ALTER TABLE "PhotoSlides" DROP CONSTRAINT "FK_PhotoSlides_Designs_DesignId";
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194853_AddDesignEntities') THEN
    CREATE INDEX "IX_Designs_CreatedAt" ON "Designs" ("CreatedAt");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194853_AddDesignEntities') THEN
    CREATE INDEX "IX_Designs_Title" ON "Designs" ("Title");
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194853_AddDesignEntities') THEN
    ALTER TABLE "Designs" ADD CONSTRAINT "FK_Designs_Users_CreatedById" FOREIGN KEY ("CreatedById") REFERENCES "Users" ("Id") ON DELETE RESTRICT;
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194853_AddDesignEntities') THEN
    ALTER TABLE "PhotoSlides" ADD CONSTRAINT "FK_PhotoSlides_Designs_DesignId" FOREIGN KEY ("DesignId") REFERENCES "Designs" ("Id") ON DELETE CASCADE;
    END IF;
END $EF$;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM "__EFMigrationsHistory" WHERE "MigrationId" = '20251008194853_AddDesignEntities') THEN
    INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
    VALUES ('20251008194853_AddDesignEntities', '9.0.9');
    END IF;
END $EF$;
COMMIT;


